{% extends "portal_v1/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="article-img" style="width:40%" src="{{ object.picture.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url "user-profile" object.author.pk %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{% url 'announcement-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1"  href="{% url 'announcement-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
                <p>{{ object.content }}</p>
        </div>
    </article>
{% endblock %}
{% block right-side %}
    <article class="side-content" style="text-align: left">
        <div class="">
            <ul>
                <p>Cena: {{ object.price }} zł</p>
                <p>kategoria: {{ object.category }}</p>
                <p>Wysyłka: {{ object.shipping }}</p>
                <p>Sprzedaż czy wymiana?: {{ object.sell_or_exchange }}</p>
            </ul>
        </div>
    </article>
{% endblock %}