{% extends "portal_v1/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% include "messages.html" %}
    <div class="register">
        <form action="" method="post">
            {% csrf_token %}
            <h2><b>Rejestracja</b></h2>
            <p>Uzupełnij poniższe pola by dokonać rejestracji.</p>
            {{ form.as_p }}
{#            <div>#}
{#                <label for="username_input">Nazwa użytkownika: </label>#}
{#                <input type="text" name="username" id="username_input" value="{{ username }}">#}
{#            </div>#}
{#            <div>#}
{#                <label for="email_input">Email: </label>#}
{#                <input type="email" name="email" id="email_input" value="{{ email }}">#}
{#            </div>#}
{#            <div>#}
{#                <label for="password_input">Hasło: </label>#}
{#                <input type="password" name="password" id="password_input" value="{{ password }}">#}
{#            </div>#}
{#            <div>#}
{#                <label for="password2_input">Powtórz hasło: </label>#}
{#                <input type="password" name="password2" id="password2_input" value="{{ password2 }}">#}
{#            </div>#}
            <input type="submit" value="Rejestruj">
        </form>
    </div>
{% endblock %}